body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    background-color: #9b8e8e;
}

.block {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto 30px;
    border: 2px solid;
    background-color: #ebebeb;
    display: flex;
}

.block__item {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 2px solid;
    position: relative;
    background-color: #fff;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    background-color: blueviolet;
}

.circle:hover {
    cursor: pointer;
    opacity: 0.8;
}

.triangle {
    width: 0;
    height: 0;
    margin: 0px auto;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid green;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}


.pos_green {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos_red {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.pos_blue {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.pos_yellow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20% auto 0;
    transform: translate(-50%, -50%);
    transition: margin 2s;
}